# Helper Notebook to Prep Data Sets (.csv.gz)

In [22]:
from fsds.imports import *

fsds v0.4.6 loaded.

## Titanic Dataset

In [10]:
#https://python.plainenglish.io/how-to-use-the-kaggle-api-in-python-4d4c812c39c7
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [18]:
api.dataset_download_files('heptapod/titanic')

In [20]:
from zipfile import ZipFile
with ZipFile('titanic.zip') as file:
    file.extractall('./')

In [23]:
df = pd.read_csv('train_and_test2.csv')
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [24]:
df.to_csv('./titanic.csv.gz',compression='gzip',index=False)

# Previous data

In [8]:
import os,glob
os.listdir()

['.DS_Store',
 'vgsales.csv',
 'world-happiness-report',
 'prep-data.ipynb',
 'hotel_bookings.csv.gz']

In [6]:
# df = pd.read_csv('hotel_bookings.csv')
# df.to_csv('hotel_bookings.csv.gz',compression='gzip',index=False)

In [1]:
# files = glob.glob('world-happiness-report/*')
# files

In [2]:
# data = {}
# for file in files:
#     name = file.split('/')[-1].replace('.csv','')
#     temp = pd.read_csv(file)
    
#     temp['year']=name
#     data[name] = temp.copy()
#     print(name)
#     display(data[name].shape)#).style.set_caption(name))

In [3]:
# df= pd.concat([data['2019'],data['2018']])
# df

- Bridging the old vs new files

In [4]:
# df.columns

In [5]:
# data['2017'].columns

In [6]:
# [c for c in df.columns if c not in data['2017'].columns]