In [3]:
from fsds.imports import *

fsds v0.3.2 loaded.  Read the docs: https://fs-ds.readthedocs.io/en/latest/

In [8]:
import os,glob
os.listdir()

['.DS_Store',
 'vgsales.csv',
 'world-happiness-report',
 'prep-data.ipynb',
 'hotel_bookings.csv.gz']

In [6]:
# df = pd.read_csv('hotel_bookings.csv')
# df.to_csv('hotel_bookings.csv.gz',compression='gzip',index=False)

In [12]:
files = glob.glob('world-happiness-report/*')
files

['world-happiness-report/2019.csv',
 'world-happiness-report/2018.csv',
 'world-happiness-report/2015.csv',
 'world-happiness-report/2016.csv',
 'world-happiness-report/2017.csv']

In [22]:
data = {}
for file in files:
    name = file.split('/')[-1].replace('.csv','')
    temp = pd.read_csv(file)
    
    temp['year']=name
    data[name] = temp.copy()
    print(name)
    display(data[name].shape)#).style.set_caption(name))

2019

(156, 10)

2018

(156, 10)

2015

(158, 13)

2016

(157, 14)

2017

(155, 13)

In [24]:
df= pd.concat([data['2019'],data['2018']])
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

- Bridging the old vs new files

In [26]:
df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'year'],
      dtype='object')

In [27]:
data['2017'].columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'year'],
      dtype='object')

In [28]:
[c for c in df.columns if c not in data['2017'].columns]

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Perceptions of corruption']