In [3]:
from imports import *

In [11]:
%load_ext autoreload
%autoreload 2
import imports as imp
pkgs = imp.import_packages()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:

imp.check_package_versions(fpath=True)

[autoreload of imports failed: Traceback (most recent call last):
  File "/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 394, in superreload
    module = reload(module)
  File "/opt/anaconda3/envs/learn-env/lib/python3.8/imp.py", line 314, in reload
    return importlib.reload(module)
  File "/opt/anaconda3/envs/learn-env/lib/python3.8/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 783, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/jamesirving/Documents/GitHub/PyPi Packages/fsds/fsds/imports.py", line 187, in <module>
    import_packages()
  File "/Users/jamesirving/Documents/GitHub/PyPi Packages/fsds/fsds/imports.py", line 90, in import_packages
    df_imports = pd.merge(df_imports, pkg_vers_df,on='Package',how='outer')
  File "/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/reshape/merge.py", line 74, in merge
    op = _MergeOperation(
TypeError: Can only merge Series or DataFrame objects, a <class 'NoneType'> was passed
]

      Package Version                                               File
0  matplotlib   3.3.1  /opt/anaconda3/envs/learn-env/lib/python3.8/si...
1     seaborn  0.11.0  /opt/anaconda3/envs/learn-env/lib/python3.8/si...
2      pandas   1.1.3  /opt/anaconda3/envs/learn-env/lib/python3.8/si...
3       numpy  1.19.5  /opt/anaconda3/envs/learn-env/lib/python3.8/si...
4     sklearn  0.23.2  /opt/anaconda3/envs/learn-env/lib/python3.8/si...
5        fsds       !  /Users/jamesirving/Documents/GitHub/PyPi Packa...

In [16]:
pkgs = imp.import_packages()

In [7]:
import os
# Function to convert file path into clickable form.
def clickable(path,label=None):
    """Source: https://www.geeksforgeeks.org/how-to-create-a-table-with-clickable-hyperlink-to-a-local-file-in-pandas/"""
    # returns the final component of a url
    # f_url = os.path.basename(path)
    if label is None:
    # convert the url into link
        return '<a href="{}">{}</a>'.format(path, path)
    else: 
        return '<a href="{}">{}</a>'.format(path, label)

In [8]:

pkgs.style.format({'Documentation':clickable})

AttributeError: 'NoneType' object has no attribute 'style'

In [ ]:

pkgs.style.format({'Documentation':lambda x: clickable(x,"link")})

In [ ]:
# pkgs.style.format({"Documentation":fun})

In [ ]:
pkgs['Link'] = pkgs["Documentation"].map(lambda x: f'<a href="{x}">link</a>') #f"[Link]({x})")
print(pkgs.loc[0,'Link'])

<a href="https://pandas.pydata.org/docs/">link</a>

'<a href="{}">{}</a>'.format(path, f_url)

In [ ]:
print('<a href="https://pandas.pydata.org/docs/">Link</a>')

<a href="https://pandas.pydata.org/docs/">Link</a>

In [ ]:

import inspect
inspect.getfile(pd)

# Teasting

In [ ]:
from imports import *

In [ ]:
import fsds
fsds.__version__

AttributeError: module 'fsds' has no attribute '__version__'

## Making Helper function

In [ ]:
def global_imports(modulename,shortname = None, asfunction = False,check_vers=True):
        """from stackoverflow: https://stackoverflow.com/questions/11990556/how-to-make-global-imports-from-a-function,
        https://stackoverflow.com/a/46878490"""
        from importlib import import_module

        if shortname is None:
            shortname = modulename

        if asfunction is False:
            globals()[shortname] = import_module(modulename) #__import__(modulename)
        else:
            globals()[shortname] = eval(modulename + "." + shortname)
            
        if check_vers:
            return globals()[shortname].__version__

In [ ]:
check_package_versions = ['matplotlib','seaborn','pandas','numpy','sklearn']

In [ ]:
import pandas as pd
def check_package_versions(packages = ['matplotlib','seaborn','pandas','numpy','sklearn'] ):
    """SEEE TESTING NOTEBOOK"""
    version_list = [['Package','Version']]
    
    for package in packages:
        if '.' not in package:
            vers = global_imports(package,None,check_vers=True)
            version_list.append([package,vers])
            
    pkg_vers_df = pd.DataFrame(version_list[1:],columns=version_list[0])
    return pkg_vers_df

In [ ]:
check_package_versions()

      Package Version
0  matplotlib   3.3.1
1     seaborn  0.11.0
2      pandas   1.1.3
3       numpy  1.19.5
4     sklearn  0.23.2